<html>
<head>
    <script>
        function fun() {
            prompt("Thanks for Choosing Us");
        }
    </script>
    <style>
        div.c {
            font-size: 500%;
        }

        a:link,
        a:visited {
            background-color: #6866df;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 24px;
        }

        a:hover,
        a:active {
            background-color: red;
        }
        .button5 {font-size: 24px;}
    </style>
</head>

<body style="background-color:powderblue;">
    <form action="/book" method="post">
        <center>
            <div class="c">Thanks For Ordering</div>
        </center><br>
        <br>
        <br>
        <div class="imgcontainer">
            <center> <img src="/static/img/courier.png" alt="Avatar" class="avatar"></center>
        </div>
        <br>
        <br>
        <br>
        <center><a href="/book" target="_blank" onclick="alert('Thanks For Choosing Us')">Continue Booking</a></center><br><br>
        <center><a href="/new1" target="_blank" onclick="alert('Redirecting to Home Page')">Home page</a></center>

    </form>
</body>

</html>